<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/general.css">
    </head>
    <body>
        <div class="mealCategory">
            <ul class="categories">
                {{#each meals}}
                    <li class="categoryItem">
                        <div class="img">
                            <img src="{{strMealThumb}}" alt="">
                        </div>
                        <h2 class="itemName">{{strMeal}}</h2>
                        <a href="/mealId/{{idMeal}}" class="showRecipe">Show Recipe</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="toDoMeal">
            <ul class="toDos">
                
            </ul>
            <form action="/addToDos" method="post" id="addToDoForm">
            <input type="text" name="toDoInput" id="toDoInput" placeholder="Enter a meal you are planning to cook" required>
            <button id="addToDo">
                Add the meal
            </button>
        </form>
        </div>

        <script src="../js/general.js"></script>
    </body>
</html>